<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PHP-App</title>

    <meta name="description" content="Template to start a PHP Application">
    <meta name="author" content="Philippe Beck">
    <meta name="copyright" content="MIT">
</head>

<body>
    <main>
        <h1>PHP Application</h1>

        <p>You will find the documentation <a href="https://github.com/philippebeck/php-app/wiki" title="PHP Application Documentation">here</a>...</p>
        <p>Don't hesitate to send <a href="https://github.com/philippebeck/php-app/issues">issues</a> or <a href="https://github.com/philippebeck/php-app/pulls">pull requests</a>, I will watch them with interest...</p>
    </main>

    <footer>
        <a href="https://github.com/philippebeck/php-app/blob/master/LICENSE" rel="noopener noreferrer" target="_blank" title="License">MIT &copy; 2019 Philippe Beck</a>
    </footer>
</body>
</html>